.droplist {
  /* appearance: none; */
  width: 300px;
  height: 36px;
  border: 1px solid #999;
  font-size: 16px;
  color: $synctera-blue;
  background-color: $synctera-yellow;
  border-radius: 5px;
  box-shadow: 1px 1px #ccc;
  margin-bottom: 18px;
  padding: 8px;
}