.table-header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  /*
  .label {
    color: red;
  }
  */
  .sort {
    display: inline-block;
    .controls {
      display: flex;
      flex-direction: column;
      .icon {
        cursor: pointer;
        &.sorted {
          color: green;
        }
        &:hover {
          color: brown;
        }
      }
    }
  }
}
