.table-header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  .sort {
    display: inline-block;
    .controls {
      display: flex;
      flex-direction: column;
      .icon {
        cursor: pointer;
        border-radius: 50%;
        padding: 3px;
        margin: 1px;
        &.sorted {
          color: $loading-color;
          background-color: $gray-shadow;
        }
        &:hover {
          color: $loading-color;
          background-color: $gray-shadow;
        }
      }
    }
  }
}
