$transaction-bg: white;
$transaction-text-color: #999;
$transaction-header-text: #666;
$hover-bg-color: #eee;
$gray-shadow: rgba(0,0,0,.1);
$gray-light-alpha: rgba(238,238,238,.5);
$gray-light: rgb(238,238,238);
$font-primary: sans-serif;
$transaction-detail-border: 1px solid #ddd;
$transaction-detail-bg: rgb(252, 252, 253);
$modal-container-bg: rgba(200, 200, 200, 0.9);
$modal-exit-icon: red;
$modal-exit-font-size: 24px;
$modal-window-bg: white;
$modal-label-font-size: 22px;
$loading-color: rgb(16,122,204);
$box-shadow: 1px 1px #ddd;
 