/* transactions table */
.transactions {
  font-family: $font-primary;
  border-radius: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  background-color: $transaction-bg;
}

.transactions tr td {
  padding: 5px 1px;
}

.transactions table {
  margin: auto;
  /* border-collapse: collapse;*/
  width: 100%;
  background-color: $gray-light-alpha;
  border-radius: 8px;
}

.transactions thead tr th {
  color: $transaction-header-text;
  padding: 12px 0;
}

.transactions tbody tr {
  color: $transaction-text-color;
  cursor: pointer;
  &:hover td {
    background-color: $hover-bg-color;
  }
  font-size: 14px;
}

/* added media queries to expand layout/readability for tablet and above */
@media (min-width: 600px) {
  .transactions tr td {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .transactions {
    margin: 16px 0;
    border-radius: 16px;
    padding: 0 16px 16px 16px;
    width: auto;
  }
  .transactions tr td {
    padding: 10px 30px;
    font-size: 16px;
  }
}
